
body {
  
    font-family: 'Roboto Slab', serif;
    background: url("desk-laptop-macbook-pro-working-69432.jpg");
    background-size: cover;
    background-position: center;
  }
  /* how to use filter https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
  .back {
    width:100%;
    height: 100%;
    position: fixed;
    filter: opacity(70%);
    margin: 0;
    }
     
 hr {
      z-index: 1;
      border :0;
      border-top: 1px solid rgba(0,0,0,0.1);
    }
  .header-title {
  position: fixed;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}
      
      h4 {
        font-family: 'Roboto Slab', serif;
          font-size: 70px;
          color: black;
          text-align: center;
      }
      
      @media only screen and (max-width: 950px) {
        h4 {
          font-size: 50px;
          text-align: center;
          width: 100%;
        }
      }
      p4 {
        font-family: 'Roboto Slab', serif;
          font-size: 50px;
          color: black;
          text-align: center;
      }
      @media only screen and (max-width: 950px) {
        p4 {
          font-size: 30px;
          text-align: center;
          width: 100%;
        }
      }
      
        * {
          margin: 0;
          padding: 0;
        }
        i {
           color: black;
          font-size: 48px;
          display: inline;
          list-style-type: none;
         }
        a { 
          text-decoration: none;
        }
      
      ul {
        overflow: auto;
        list-style-type: none;
        position: fixed;
        text-align: center;
        bottom: 35%;
        color: black;
        
      }
        .menu {
          position: fixed;
          top: 20px;
          left:0;
          padding: 20px 5%;
          font: 20px/1 'Roboto Slab', serif;
         }
       
      
        li {
          display: inline;
          margin-right: 0px;
          padding: 0 20px;
          
          
        }
        .social {
          bottom: 30%;
          right: 40%;
          list-style-type: none;
          text-decoration: none;
          
        }
       
        li:last-child {
          border-right: none;
        }
       
        li a {
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          transition: all 0.5s ease;
        }
       
        li a:hover {
          color: #ef4fa6;
        }
      
        li.active a {
          font-weight: bold;
          color: #333;
        }