h1 {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}
.resume {
  font-family: 'Roboto Slab', serif;
  position: fixed;
  top: 25%;
  right: 10%;
  padding: 2%;
  font-weight: bold;
}
body {
  font-family: 'Roboto Slab', serif;
    background: url("desk-laptop-macbook-pro-working-69432.jpg");
    background-size: cover;
    background-position: center;
  }
  /* how to use filter https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
  .back {
    width:100%;
    height: 100%;
    position: fixed;
    filter: opacity(70%);
    margin: 0;
    }
     h2 {
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #ef4fa6;
   }
 hr {
      z-index: 1;
      border :0;
      border-top: 1px solid rgba(0,0,0,0.1);
    }

.gallery-item {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: all .3s;
    overflow: hidden;
    position: relative;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 2.5rem;
    grid-auto-rows: minmax(115px, auto);
    padding: 10%;
    margin: 0;
    
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.gallery-item:hover .image {
    filter: grayscale(1);
}
.gallery-item:hover .middle {
    opacity: 1;
}
.gallery-item:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}
.text {
    color: white;
    font-size: 2.5em;
    padding: 16px 32px;
    font-family: 'Roboto Slab', serif;

}

  .header-title {
  position: fixed;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}
.myphoto {
  border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
  position: fixed;
  top: 20%;
  left: 10%;
  width: 200px;
}
.myphoto:hover {
  filter: grayscale(1);
  border-style: none;
  border-radius: 100%;
  transition: background-size 0.3s ease;
  filter: grayscale(1);
  transition: background-size 0.3s
}
.resume-header {
 display: inline;
 top: 20%;
 right: 15%;
 position: fixed;
 color:black; 
 font-size: 14px;
 
}
.top-header {
  top: 15%;
 left: 20%;
 position: fixed;
 color:black; 
 font-size: 20px;
}

.centre{
float: left;
font-family: 'Roboto Slab', serif;
padding: 5% 5%;
}
.leftColumn {
width:50%;
padding-top: 10%;
float:left;
}
.rightColumn {
  width:50%;
  float:right;
}
h4 {
        font-family: 'Roboto Slab', serif;
          font-size: 70px;
          color: black;
          text-align: center;
      }
      
      @media only screen and (max-width: 950px) {
        h4 {
          font-size: 50px;
          text-align: center;
          width: 100%;
        }
      }
      p4 {
        font-family: 'Roboto Slab', serif;
          font-size: 50px;
          color: black;
          text-align: center;
      }
      @media only screen and (max-width: 950px) {
        p4 {
          font-size: 30px;
          text-align: center;
          width: 100%;
        }
      }
      
        * {
          margin: 0;
          padding: 0;
        }
        i {
           color: black;
          font-size: 48px;
          display: inline;
          list-style-type: none;
         }
        a { 
          text-decoration: none;
        }
      
      ul {
        overflow: auto;
        list-style-type: none;
        position: fixed;
        text-align: center;
        bottom: 35%;
        color: black;
        
      }
        .menu {
          position: fixed;
          top: 20px;
          left:0;
          padding: 20px 5%;
          font: 20px/1 'Roboto Slab', serif;
         }
       
      
        li {
          display: inline;
          margin-right: 0px;
          padding: 0 20px;
          
          
        }
        .social {
          bottom: 30%;
          right: 40%;
          list-style-type: none;
          text-decoration: none;
          
        }
       
        li:last-child {
          border-right: none;
        }
       
        li a {
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          transition: all 0.5s ease;
        }
       
        li a:hover {
          color: #ef4fa6;
        }
      
        li.active a {
          font-weight: bold;
          color: #333;
        }
        

        @media (max-width: 500px) {
            .gallery-item, body {
                max-width: 30%;
                grid-column: 2;
                font-family: 'Roboto Slab', serif;
                text-align: left;
            }
            div.myportf, h1 {
                text-align: left;
                margin-left: 2em;
            }
            div.text {
                font-size: 2.5em;
            } 
        }
       
      .contactform {
        display: block;
      }
      form {
        padding-top: 10%;
        }
        .input-block {
          width: 10%;
          float: left;
          margin: 3.3%;
          position: relative;
          margin-bottom: 60px;
          padding-left: 1%;
        }
        .input-block:nth-child(3n) {
          margin-right: 0px;
        }
        .input-block input{
          width: 100%;
          border: none;
          outline: none;
          border-bottom: 2px solid #dddddd;
          font-size: 16px;
          font-family: inherit;
         
          
        }
        .textarea-block {
          clear: both;
          width: 50%;
          position: relative;
          padding-left: 10px;
          margin: 3.3%;
          
         
        }
        .textarea-block textarea {
          width: 100%;
          resize: none;
          border: none;
          outline: none;
          border-bottom: 2px solid #dddddd;
          
          font-size: 16px;
          font-family: inherit;
          
        }
        .textarea-block label,.input-block label {
  color: #696969;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  left: 10px;
  transition: all 0.2s linear 0s;
  
}
.textarea-block textarea[required="required"] + label:after,
.input-block input[required="required"] + label:after {
  content: "*";
}
form button[type="submit"] {
  border: 0px;
  outline: 0px;
  color: #fff;
  background-color:#ef4fa6;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 20px 40px;
  border-radius: 100px;
  margin: 40px auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s linear 0s;
  position: fixed;
  left: 15%;
  margin: 3.3%;
  
}
/* hover and click effects */
@keyframes btn-animation {
  from {
    transform: scale(1);
  }
  
  to {
    transform: scale(0.95);
  }
}

form button[type="submit"]:active {
  animation: btn-animation 0.2s linear 0s alternate 2;
}

form button[type="submit"]:hover {
  background-color:#424242;
}

.input-block input:focus + label,
.textarea-block textarea:focus + label,
.input-block input.active + label,
.textarea-block textarea.active + label{
  top: -30px;
}






    